@inherits LayoutComponentBase
<div class="page">
    <header class="navbar-header">
        <NavMenu />
    </header>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<ToastContainer />
